prototype/prototype-images/
.vs
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay/bin/
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay/obj/
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay.Android/bin/
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay.Android/obj/
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay.iOS/obj/
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay.iOS/bin/
/NeverSkipLegDay/packages
/NeverSkipLegDay/TestResults
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay.NUnitTestProject/bin
/NeverSkipLegDay/NeverSkipLegDay/NeverSkipLegDay.NUnitTestProject/obj
/NeverSkipLegDay/NeverSkipLegDay/NUnitTestProject/obj
